body {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
  }

text, h1, h2, h3 {
    font-weight: 400;

    @media only screen and (max-width: 1000px) {
        margin: 5px;
    }
}

h1 {
    @media only screen and (max-width: 1000px) {
        margin-top: 25px;
        font-size: 1.5em;
    }
}

h2 {
    @media only screen and (max-width: 1000px) {
        font-size: 1em;
    }
}

footer {
    display:none;
    @media only screen and (max-width: 500px) {
        display: block;
        box-sizing: border-box;
        position: fixed;
        background-color: white;
        left: 0;
        bottom: 0;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
}

:root {
  --md-elevated-button-container-shape: 0px;
  --md-elevated-button-label-text-font: system-ui;
  --md-sys-color-surface-container-low: #FAFDFC;
  --md-sys-color-primary: #191C1C;
}

.topRightLink {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    text-align: right;
}

.center {
    text-align: center;
}

textarea {
    width:95%; height: 150px
}

#zPlaneDiv
{
    flex-grow: 1;
}

#zCanvas
{
    touch-action: none;
	border: 1px solid #000000;
}

#wPlaneDiv
{
    flex-grow: 1;
}

#wCanvas
{
	border: 1px solid #000000;
}

#drawingTools
{
    margin: 10px;
    margin-top: 50px;
    flex-shrink: 0;
    @media only screen and (max-width: 1000px) {
        margin-top: 10px;
    }
}

#drawingToolRadioDiv
{
    text-align: left;
}

#middleDiv
{
    margin: 10px;
    margin-top: 65px;
    width: 150px;
    display: inline-block;
    flex-shrink: 0;
    @media only screen and (max-width: 1000px) {
        margin-top: 10px;
    }
}

#flex-container
{
    display:flex;
}

.settings
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.settings-content 
{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
	width: 200px;
}
